@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""),
  url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #081320;
}

body {
  font-family: "Nunito", "Avenir Next", "Trebuchet MS", sans-serif;
  color: #edf5ff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
