name: Release

# Controls when the workflow will run
on:
  push:
    tags:
      - "v*"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macos-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - run: |
          echo "============================="
          # xcrun notarytool log 6391f075-00bb-488b-9d14-679c1f1597b2 \
          #   --apple-id "${{ secrets.APPLE_ID }}" \
          #   --password "${{ secrets.MAC_DEV_PASSWORD }}" \
          #   --team-id "${{ secrets.APPLE_TEAMID }}"

          echo "============================="
          brew install mingw-w64
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version: "1.23.4" # The Go version to download (if necessary) and use.

      # Imports your .p12 into a temporary keychain
      - name: Import Apple code signing cert
        uses: apple-actions/import-codesign-certs@v3
        with:
          p12-file-base64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
          p12-password: ${{ secrets.P12_PASSWORD }}
      - name: Build wails
        uses: dAppServer/wails-build-action@main
        id: build
        with:
          build-name: bravo
          build-platform: darwin/universal,windows/amd64
          nsis: false
          go-version: "1.23.4"
          package: false
          sign-macos-app-id: "${{ secrets.APPLE_ID }}"
          sign-macos-apple-password: "${{ secrets.MAC_DEV_PASSWORD }}"

      - name: Sign Wails mac builds
        run: |
          # sign and notarize mac builds
          codesign \
            --deep \
            --timestamp \
            --options runtime \
            --sign "${{ secrets.CODESIGN_IDENTITY }}" \
            ${{ github.workspace }}/build/bin/bravo.app

          ditto -c -k --keepParent ${{ github.workspace }}/build/bin/bravo.app ${{ github.workspace }}/build/bin/bravo.zip

          xcrun notarytool submit ${{ github.workspace }}/build/bin/bravo.zip\
            --apple-id "${{ secrets.APPLE_ID }}" \
            --password "${{ secrets.MAC_DEV_PASSWORD }}" \
            --team-id "${{ secrets.APPLE_TEAMID }}" \
            --wait 

          xcrun stapler staple ${{ github.workspace }}/build/bin/bravo.app
          xcrun stapler validate ${{ github.workspace }}/build/bin/bravo.app

          mkdir -p ${{ github.workspace }}/build/xa-honeycomb
          ditto ${{ github.workspace }}/build/bin/bravo.app ${{ github.workspace }}/build/xa-honeycomb/bravo.app
          cp ${{ github.workspace }}/build/bin/bravo ${{ github.workspace }}/build/xa-honeycomb/bravo.exe

      - run: |
          go mod tidy
          export VERSION=${GITHUB_REF##*/} 
          VERSION=${GITHUB_REF##*/} make mac win -j 2
          rm -f ${{ github.workspace }}/build/xa-honeycomb/mac_arm.xpl ${{ github.workspace }}/build/xa-honeycomb/mac_amd.xpl

          codesign --timestamp \
            --options runtime \
            --sign "${{ secrets.CODESIGN_IDENTITY }}" ${{ github.workspace }}/build/xa-honeycomb/mac.xpl

          TAG=${GITHUB_REF##*/}
          cp ${{ github.workspace }}/skunkcrafts_updater.cfg ${{ github.workspace }}/build/xa-honeycomb/
          cp -r ${{ github.workspace }}/profiles ${{ github.workspace }}/build/xa-honeycomb/
          sed -i '' "s/REPLACE_ME/${TAG}/g" ${{ github.workspace }}/build/xa-honeycomb/skunkcrafts_updater.cfg

          # sign and notarize mac builds

          root=$(pwd)
          cd ${{ github.workspace }}/build/ && \
            ditto -c -k \
              --sequesterRsrc \
              --keepParent \
              xa-honeycomb xa-honeycomb.zip && \
            cd $root

          xcrun notarytool submit ${{ github.workspace }}/build/xa-honeycomb.zip \
            --apple-id "${{ secrets.APPLE_ID }}" \
            --password "${{ secrets.MAC_DEV_PASSWORD }}" \
            --team-id "${{ secrets.APPLE_TEAMID }}" \
            --wait

      - run: |
          cp -r ${{ github.workspace }}/build/xa-honeycomb/ release/
          # create crc32 checksum for all values and write to skunkcrafts_updater_whitelist.txt
          # format is <filename>|<crc32 checksum>
          # include subdirectories
          rm -f release/skunkcrafts_updater_whitelist.txt
          find release -type f ! \( -name '*skunkcrafts_updater*' -o -path '*skunkcrafts_updater*' \) -print0 | while IFS= read -r -d '' file; do
            checksum_hex=$(crc32 "$file")
            # Convert hex checksum to uint32 decimal
            checksum_decimal=$((16#$checksum_hex))
            # Remove "release/" prefix from $file
            modified_file="${file#release/}"
            echo "$modified_file|$checksum_decimal" >> release/skunkcrafts_updater_whitelist.txt
          done
          touch release/skunkcrafts_updater_blacklist.txt

          TAG=${GITHUB_REF##*/}
          TARGET_BRANCH="release"
          # if TAG contains -
          git checkout -b ${TARGET_BRANCH}
          git add .
          git commit -m "new ${TARGET_BRANCH} - ${TAG}"
          git push -f -u origin ${TARGET_BRANCH}

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          body_path: ${{ github.workspace }}/README.md
          files: |
            ${{ github.workspace }}/build/xa-honeycomb.zip
          prerelease: ${{ contains(github.ref_name, '-') }}
